root = true

# C# files
[*.cs]

# CA1707: Identifiers mustn't contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1515
dotnet_diagnostic.CA1515.severity = none

# CA1031
dotnet_diagnostic.CA1031.severity = none

# CA2007
dotnet_diagnostic.CA2007.severity = none